
// small screens/hd small screens
@media only screen and (max-device-width: 480px),
       only screen and (min-device-width: 640px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2)
{
  .pickable {
    border-width: 7px !important;
    span {
      font-size: 100px !important;
    }
  }
}

@media (orientation:landscape) {
  #main-menu {
    background: url('../img/Default-Portrait@2x~ipad.png');
  }
  .pickable-item {
    &.fullscreen {
      top:20%;
      left:33.3%;
    }
    height : 50%;
    width : 33.3%;

    span {
      font-size: 220px;
    }
  }
}

@media (orientation:portrait) {
  #main-menu {
    background: url('../img/Default-Landscape@2x~ipad.png');
  }
  .pickable-item {
    &.fullscreen {
      top:33.3%;
      left:25%;
    }
    height : 33.3%;
    width : 50%;

    span {
      font-size: 220px;
    }
  }
}

