@-webkit-keyframes startButton {
  from {
    -webkit-box-shadow: 0 0 18px #333;
    -webkit-transform: scale(1.1, 1.1);
  }
  50% {
    -webkit-box-shadow: 0 0 3px #333;
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-box-shadow: 0 0 18px #333;
    -webkit-transform: scale(1.1, 1.1);
  }
}
@-webkit-keyframes wobble {
  from {
    -webkit-transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
  }
  to {
    -webkit-transform: rotate(-10deg);
  }
}
@-webkit-keyframes startButton {
  from {
    -webkit-box-shadow: 0 0 18px #333;
    -webkit-transform: scale(1.1, 1.1);
  }
  50% {
    -webkit-box-shadow: 0 0 3px #333;
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-box-shadow: 0 0 18px #333;
    -webkit-transform: scale(1.1, 1.1);
  }
}
@-webkit-keyframes wobble {
  from {
    -webkit-transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
  }
  to {
    -webkit-transform: rotate(-10deg);
  }
}
#main-menu {
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
#main-menu div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  margin-top: -100px;
}
#main-menu div button.start {
  -webkit-animation: startButton 3s infinite;
  width: 200px;
  height: 200px;
  border-radius: 500px;
  font-size: 50px;
  border: 4px solid black;
  background: #ff3019;
  /* Old browsers */

  background: -moz-radial-gradient(center, ellipse cover, #cf0404 0%, #ff3019 100%);
  /* FF3.6+ */

  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #cf0404), color-stop(100%, #ff3019));
  /* Chrome,Safari4+ */

  background: -webkit-radial-gradient(center, ellipse cover, #cf0404 0%, #ff3019 100%);
  /* Chrome10+,Safari5.1+ */

  background: -ms-radial-gradient(center, ellipse cover, #cf0404 0%, #ff3019 100%);
  /* IE10+ */

  background: radial-gradient(center, ellipse cover, #cf0404 0%, #ff3019 100%);
  /* W3C */

}
.transparent {
  opacity: 0;
}
.fullsize {
  width: 100%;
  height: 100%;
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  background-color: #000000;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #000000;
}
#resources {
  display: none;
}
#content {
  width: 100%;
  height: 100%;
}
.pickable-list {
  width: 100%;
  height: 100%;
}
.pickable-list.reward.balloon .pickable {
  background: transparent;
  border: 0;
}
.pickable-list.reward.balloon .pickable canvas {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
  -webkit-animation: wobble 2s infinite;
}
.pickable-list .pickable-item {
  min-width: 150px;
  min-height: 150px;
  float: left;
  position: relative;
  -webkit-transition-property: opacity,top,left;
  -webkit-transition-duration: 500ms,500ms,500ms;
}
.pickable-list .pickable-item .pickable {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40%;
  margin-top: -40%;
  text-align: center;
  color: #0c0c0c;
  border: 15px solid #fce87a;
  border-radius: 40px;
  box-shadow: inset 1px 1px 13px -4px #333333;
  background: #edfbf9;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ffffff 0%, #edfbf9 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(100%, #edfbf9));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(to bottom right, #ffffff 0%, #edfbf9 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(to bottom right, #ffffff 0%, #edfbf9 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(to bottom right, #ffffff 0%, #edfbf9 100%);
  /* IE10+ */

  background: linear-gradient(to bottom right, #ffffff 0%, #edfbf9 100%);
  /* W3C */

}
.pickable-list .pickable-item .pickable img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
.pickable-list .pickable-item .pickable span {
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  line-height: 200px;
}
.pickable-list .pickable-item.fullscreen {
  -webkit-transition-property: left,top,width,height;
  -webkit-transition-duration: 500ms,500ms,500ms,500ms;
  -webkit-timing-function: ease-in-out;
}
.pickable-list .pickable-item.fullscreen .pickable {
  -webkit-animation: wobble 2s infinite;
  margin-left: -40%;
  background: transparent;
  border: 0;
  box-shadow: none;
}
.pickable-list .pickable-item.fullscreen .pickable span {
  -webkit-transition-property: text-shadow;
  -webkit-transition-duration: 500ms;
  -webkit-timing-function: ease-in-out;
  color: #225261;
  text-shadow: 5px 5px 20px #a0f8ff, -5px 5px 20px #a0f8ff, -5px -5px 20px #a0f8ff, 5px -5px 20px #a0f8ff;
}
.pickable-list .pickable-item.pressed .pickable {
  background-color: #cccccc !important;
}
.pickable-list .pickable-item.targetMissed .pickable {
  background-color: #ffff87 !important;
}
#main-menu {
  background: url('../img/iPad-menu.png');
}
@media only screen and (-webkit-min-device-pixel-ration: 1.3) {
  #main-menu {
    background: url('../img/iPad-menu@2x.png');
  }
}
@media only screen and (orientation: landscape) and (max-width: 1023px) {
  .pickable {
    border-width: 7px !important;
    border-radius: 15% !important;
  }
  .pickable span {
    font-size: 90px !important;
  }
}
@media only screen and (orientation: portrait) and (max-width: 700px) {
  .pickable {
    border-width: 7px !important;
    border-radius: 15% !important;
  }
  .pickable span {
    font-size: 90px !important;
  }
}
@media (orientation: landscape) {
  .pickable-item {
    height: 50%;
    width: 33.3%;
  }
  .pickable-item.fullscreen {
    top: 20%;
    left: 33.3%;
  }
  .pickable-item span {
    font-size: 190px;
  }
}
@media (orientation: portrait) {
  .pickable-item {
    height: 33.3%;
    width: 50%;
  }
  .pickable-item.fullscreen {
    top: 33.3%;
    left: 25%;
  }
  .pickable-item span {
    font-size: 190px;
  }
}
