@backgroundColor    : #fff;
@borderColor        : rgb(131, 225, 255);;
@targetMissedColor  : #ffff87;
@pressedColor       : darken(@backgroundColor,20%);
@foregroundColor    : #0c0c0c;
@canvasBackground   : #000;

@cardFont : "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
@cardFontSize : 120px;
@cardLineHeight : 200px;
