#main-menu {
  background: url('../img/iPad-menu.png');
}

@media only screen and (-webkit-min-device-pixel-ration:1.3) {
  #main-menu {
    background: url('../img/iPad-menu@2x.png');
  }
}

// small screens/hd small screens
@media only screen and (orientation:landscape) and (max-width: 1023px)
{
  .pickable {
    border-width: 7px !important;
    border-radius: 15% !important;
    span {
      font-size: 90px !important;
    }
  }
}
// small screens/hd small screens
@media only screen and (orientation:portrait) and (max-width: 700px)
{
  .pickable {
    border-width: 7px !important;
    border-radius: 15% !important;
    span {
      font-size: 90px !important;
    }
  }
}

@media (orientation:landscape) {
  .pickable-item {
    &.fullscreen {
      top:20%;
      left:33.3%;
    }
    height : 50%;
    width : 33.3%;

    span {
      font-size: 190px;
    }
  }
}

@media (orientation:portrait) {
  .pickable-item {
    &.fullscreen {
      top:33.3%;
      left:25%;
    }
    height : 33.3%;
    width : 50%;

    span {
      font-size: 190px;
    }
  }
}

