@import 'animations';

#main-menu {
  .fullsize;

  text-align:center;
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;

  div {
    .fullsize;
    position:absolute;
    top:50%;
    margin-top:-100px;

    button {
      &.start {
        -webkit-animation: startButton 1s infinite, wobble 2s infinite;
        width:240px;
        height:140px;
        border-radius:500px;
        font-size:50px;
        color:#111;
        border:7px solid black;
        .radial-gradient(#ff513d,#cf0404);
      }
    }
  }
}